TELEGRAM_BOT_TOKEN="8828134977:AAEtGSsT84jZHUUtZQ-mgMwfRwXCFHbnZSc"
GEMINI_API_KEY="AIzaSyD0Gg5m2hI-oQlVNoaq8WzGG82nzHDGKvA"
PORT=3000
ADMIN_PASSWORD="1234560"
FACEBOOK_APP_ID=1048673357674257
FACEBOOK_APP_SECRET=8b262a4d44119e777d0a7a23c773366f
SERVER_URL="https://your-domain.vercel.app"
